---
const {
    title = "Title",
    content = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos officia autem repellat totam blanditiis. Molestiae dolorem fugiat quo harum aliquid. Fugiat iusto explicabo, suscipit asperiores similique cum quidem iure possimus.",
    imagePath,
    order,
    bg_color,
    text_color,
} = Astro.props;
import Image from "astro/components/Image.astro";
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section
    class:list={["lg:min-h-screen flex justify-center items-center sm:py-4"]}
    class={bg_color}
>
    <div class="lg:max-w-screen-lg lg:h-full mx-auto flex flex-col sm:flex-row">
        <article
            class="flex flex-col justify-center items-center prose sm:max-w-lg p-4 lg:p-16"
        >
            <h2 class:list={["text-4xl"]} class={text_color}>{title}</h2>
            <p class:list={["prose"]} class={text_color}>{content}</p>
        </article>
        <div
            class="p-4 sm:p-16 sm:max-w-lg aspect-square"
            class:list={[{ first: order }]}
        >
        <Image
        class="aspect-square object-cover w-full"
        src={images[imagePath]()}
        alt="placeholder"
    />
        </div>
    </div>
</section>

<style>
    @media (min-width: 640px) {
        .first {
            order: -9999;
        }
    }
</style>
