---
const { title = "Title", imagePath, order, bg_color, text_color } = Astro.props;
import Image from "astro/components/Image.astro";
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section
    class:list={["flex justify-center items-center md:py-12 py-4"]}
    class={bg_color}
>
    <div
        class="lg:max-w-screen-lg h-full mx-auto justify-between items-center flex flex-col"
    >
        <article class="prose p-4 sm:p-8 w-full">
            <h2 class:list={["md:text-5xl text-center"]} class={text_color}>
                {title}
            </h2>
        </article>
        <div class="p-4 sm:p-0" class:list={[{ first: order }]}>
            <Image
                class="aspect-[16/9] w-full object-cover"
                src={images[imagePath]()}
                alt="placeholder"
            />
        </div>
    </div>
</section>

<style>
    .first {
        order: -9999;
    }
</style>
