---
const {
    title = "Title",
    content = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos officia autem repellat totam blanditiis. Molestiae dolorem fugiat quo harum aliquid. Fugiat iusto explicabo, suscipit asperiores similique cum quidem iure possimus.",
    image,
    order,
    bg_color,
    text_color,
} = Astro.props;
import Image from "astro/components/Image.astro";
import billede from "../../src/assets/images/hvid-billede-med-sort-stol-pt.jpg"
---

<section
    class:list={["min-h-screen flex justify-center items-center py-4 md:py-0"]}
    class={bg_color}
>
    <div class="lg:max-w-screen-lg md:h-full mx-auto flex flex-col sm:flex-row">
        <article
            class="flex flex-col justify-center items-center prose sm:max-w-lg p-4 sm:p-16 shrink-2"
        >
            <h2 class:list={["text-4xl"]} class={text_color}>{title}</h2>
            <p class:list={["prose"]} class={text_color}>{content}</p>
        </article>
        <div class="p-4 md:p-0 md:h-full max-h-full shrink-3" class:list={[{ first: order }]}>
            <Image
                class="object-cover md:h-full aspect-[9/16]"
                src={billede}
                alt="placeholder"
            />
        </div>
    </div>
</section>

<style>
    .first {
        order: -9999;
    }
</style>
