---
const { bg_color, text_color, title, content } = Astro.props;
import Button from "./Button.astro";
---

<section
    class={bg_color}
    class:list={["min-h-96 flex flex-col  items-center justify-center "]}
>
    <article class="prose lg:max-w-screen-lg mx-auto p-4">
        <div class="prose">
            <h2 class={text_color} class:list={["text-3xl"]}>{title}</h2>
            <p class={text_color}>{content}</p>
            <Button text="Kontakt os!" href="#anchor" />
        </div>
    </article>
</section>
